In [ ]:
import pandas as pd

cash = pd.read_csv("project_dataset/extract - cash request - data analyst.csv")
print(cash.info())

<class 'pandas.DataFrame'>
RangeIndex: 23970 entries, 0 to 23969
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          23970 non-null  int64
 1   amount                      23970 non-null  float64
 2   status                      23970 non-null  str
 3   created_at                  23970 non-null  str
 4   updated_at                  23970 non-null  str
 5   user_id                     21867 non-null  float64
 6   moderated_at                16035 non-null  str
 7   deleted_account_id          2104 non-null   float64
 8   reimbursement_date          23970 non-null  str
 9   cash_request_received_date  16289 non-null  str
 10  money_back_date             16543 non-null  str
 11  transfer_type               23970 non-null  str
 12  send_at                     16641 non-null  str
 13  recovery_status             3330 non-null   str
 14  reco_creation               3330 non-null   str
 15  reco_last_update            3330 non-null   str
dtypes: float64(3), int64(1), str(12)
memory usage: 2.9 MB
None
<class 'pandas.DataFrame'>
RangeIndex: 21061 entries, 0 to 21060
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               21061 non-null  int64
 1   cash_request_id  21057 non-null  float64
 2   type             21061 non-null  str
 3   status           21061 non-null  str
 4   category         2196 non-null   str
 5   total_amount     21061 non-null  float64
 6   reason           21061 non-null  str
 7   created_at       21061 non-null  str
 8   updated_at       21061 non-null  str
 9   paid_at          15531 non-null  str
 10  from_date        7766 non-null   str
 11  to_date          7766 non-null   str
 12  charge_moment    21061 non-null  str
dtypes: float64(2), int64(1), str(10)
memory usage: 2.1 MB
None

In [4]:
fees = pd.read_csv("project_dataset/extract - fees - data analyst - .csv")
print(fees.info())

<class 'pandas.DataFrame'>
RangeIndex: 21061 entries, 0 to 21060
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               21061 non-null  int64
 1   cash_request_id  21057 non-null  float64
 2   type             21061 non-null  str
 3   status           21061 non-null  str
 4   category         2196 non-null   str
 5   total_amount     21061 non-null  float64
 6   reason           21061 non-null  str
 7   created_at       21061 non-null  str
 8   updated_at       21061 non-null  str
 9   paid_at          15531 non-null  str
 10  from_date        7766 non-null   str
 11  to_date          7766 non-null   str
 12  charge_moment    21061 non-null  str
dtypes: float64(2), int64(1), str(10)
memory usage: 2.1 MB
None

In [6]:
fees["cash_request_id"] = fees["cash_request_id"].astype("Int64")

fees_date = ["created_at", "updated_at", "paid_at", "from_date", "to_date"]


for col in fees_date:
    fees[col] = pd.to_datetime(fees[col], errors="coerce")

print(fees.info())
print(fees.head())    



lexique = pd.read_excel("project_dataset/Lexique - Data Analyst.xlsx")
print(lexique.info())

<class 'pandas.DataFrame'>
RangeIndex: 21061 entries, 0 to 21060
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               21061 non-null  int64
 1   cash_request_id  21057 non-null  Int64
 2   type             21061 non-null  str
 3   status           21061 non-null  str
 4   category         2196 non-null   str
 5   total_amount     21061 non-null  float64
 6   reason           21061 non-null  str
 7   created_at       21061 non-null  datetime64[us, UTC]
 8   updated_at       21061 non-null  datetime64[us, UTC]
 9   paid_at          15438 non-null  datetime64[us, UTC]
 10  from_date        6749 non-null   datetime64[us, UTC]
 11  to_date          6512 non-null   datetime64[us, UTC]
 12  charge_moment    21061 non-null  str
dtypes: Int64(1), datetime64[us, UTC](5), float64(1), int64(1), str(5)
memory usage: 2.1 MB
None
      id  cash_request_id             type    status               category  \
0   6537            14941  instant_payment  rejected                    NaN
1   6961            11714         incident  accepted  rejected_direct_debit
2  16296            23371  instant_payment  accepted                    NaN
3  20775            26772  instant_payment  accepted                    NaN
4  11242            19350  instant_payment  accepted                    NaN

   total_amount                              reason  \
0           5.0  Instant Payment Cash Request 14941
1           5.0               rejected direct debit
2           5.0  Instant Payment Cash Request 23371
3           5.0  Instant Payment Cash Request 26772
4           5.0  Instant Payment Cash Request 19350

                        created_at                       updated_at  \
0 2020-09-07 10:47:27.423150+00:00 2020-10-13 14:25:09.396112+00:00
1 2020-09-09 20:51:17.998653+00:00 2020-10-13 14:25:15.537063+00:00
2 2020-10-23 10:10:58.352972+00:00 2020-10-23 10:10:58.352994+00:00
3 2020-10-31 15:46:53.643958+00:00 2020-10-31 15:46:53.643982+00:00
4 2020-10-06 08:20:17.170432+00:00 2020-10-13 14:25:03.267983+00:00

                           paid_at from_date to_date charge_moment
0 2020-12-17 14:50:07.470110+00:00       NaT     NaT         after
1 2020-12-08 17:13:10.459080+00:00       NaT     NaT         after
2 2020-11-04 19:34:37.432910+00:00       NaT     NaT         after
3 2020-11-19 05:09:22.500223+00:00       NaT     NaT         after
4 2020-11-02 14:45:20.355598+00:00       NaT     NaT         after
<class 'pandas.DataFrame'>
RangeIndex: 16375 entries, 0 to 16374
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Column name  16003 non-null  object
 1   Description  13 non-null     str
dtypes: object(1), str(1)
memory usage: 256.0+ KB
None